
h1 {
    text-align: center;
    display:block;
    font-size:24px;
};

input[type=text]{
    margin: 20px auto;
    width: 200px;
};

#employee-wrap{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.employee-box{
    width: 300px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin: 20px 5px;
    cursor: pointer;
    // @include boxShadow;
    @include mq{
        
        height: 200px;
        width: 350px;
        // display: flex;
        // flex-wrap: wrap;
    }
}


.employee-box img{
    border-radius:50%;
    height:100px;
    width:auto;
    display:block;
    margin: 10px auto;
    @include mq{
        float: left;
        margin: 35px 15px;
        height: 128px;
    }
}

.employee-box h2{
    text-align: center;
    font-size: 20px;
    @include mq{
        text-align: left;
        margin-left: 25px;
        margin-top:60px;
    }
}


.employee-box p{
    text-align: center;
    font-size: 12px;
    @include mq{
        text-align: left;
        margin-left: 25px;
    }
}


// SEARCH STYLE

.search-box{
    padding: 10px;
    margin: 20px auto;
    display: block;
}


// MODAL STYLE

.arrow-container {
    display:flex;
	margin: 10vh auto;
    width: fit-content;
}

.arrow-container span{
    display:block;
    margin:auto;
    font-size:40px;
    color: white;
    cursor:pointer;
}

.modal {
	height: 100%;
	width:100%;
	position: fixed;
	z-index: 25000;
	top: 0;
	left: 0;
	background-color: rgba(Black, .8);
}

.box-employee-modal {
    min-width: 270px;
    border: 1px solid grey;
    border-radius: 8px;
    margin: 20px 5px;
    @include boxShadow;
    background-color:white;
    @include mq{
        min-width: 320px;
    }
}

.img-modal{
    display:block;
    border-radius: 50%;
    margin: 10px auto;
    padding: 20px;
}

.modal-close{
    text-align: end;
    margin: 5px 10px;
    cursor:pointer;
}

.email-modal,
.city-modal,
.phone-modal,
.adress-modal,
.bd-modal{
    padding: 0 30px;
    text-align: center;
    font-size: 14px;
    color:grey;
}

.name-modal{
    text-align: center;
    font-size: 20px;
}

.border-modal{
    width:80%;
    height: 1px;
    background-color: lightgrey;
    display:block;
    margin: 15px auto;
}

